@import "../common/common";

.app {
  height: 100vh;
  margin: 0;
  padding: 0;
  --navbar-height: 75px;
  text-decoration: none;
  color: $app-color-white;
  font-size: 1.15em;

  .section-button {
    font-size: 1.5em;
    border: solid $app-color-green 1px;
    border-radius: 10px 10px;
    padding: 10px;
    @media (max-width: 500px) {
      font-size: 1.2em;
    }
  }

  .title::before {
    content: "<";
    color: $app-color-green;
  }
  .title::after {
    content: "/>";
    color: $app-color-green;
  }

  @media (max-width: 500px) {
    font-size: 0.75em;
  }

  .app-h1 {
    font-size: 2.5em;
  }
  .app-h2 {
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .app-a,
  .app-a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .app-navbar {
    background-color: $app-color-black;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    border-bottom: 5px solid $app-color-green;
    @media (max-width: 700px) {
      justify-content: space-around;
      gap: 0;
    }

    a {
      text-shadow: 0px 0px 4px $app-color-purple;
      padding: 20px;
      @media (max-width: 700px) {
        padding: 10px;
      }
    }
    a::before {
      content: "< ";
      color: $app-color-green;
    }
    a::after {
      content: " />";
      color: $app-color-green;
    }
  }

  .app-section:before {
    height: var(--navbar-height);
    content: "";
    display: block;
  }
  .app-section {
    text-align: center;
    min-height: 100vh;
  }

  #app-welcome-section {
    background-color: $app-color-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 5px 5px $app-color-black;
    padding-bottom: 30px;
    h2 {
      max-width: 90vw;
    }
    a {
      color: $app-color-white;
      text-decoration: none;
      font-weight: bold;
      @media (max-width: 790px) {
      }
    }

    .title {
      @media (max-width: 500px) {
        font-size: 1.9em;
      }
    }

    .sub-title {
      color: $app-color-white;
      font-style: italic;
      font-size: 1.5em;
    }
    .presentation {
      font-size: 1.3em;
      margin-top: 20px;
      max-width: 50vw;
      text-align: justify;
      a {
        text-decoration: none;
        font-weight: bold;
        color: $app-color-green;
      }
      a:hover {
        text-shadow: 0 0 5px $app-color-green;
      }
      em {
        font-weight: bold;
      }
      @media (max-width: 1000px) {
        max-width: 90vw;
      }
    }

    .keywords {
      margin: 30px auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      gap: 5px;
      @media (max-width: 790px) {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
      }
      @media (max-width: 540px) {
        grid-template-columns: minmax(250px, 1fr);
      }
      .badge {
        font-size: 1.05em;
        background-color: $app-color-black;
        box-shadow: 0 0 10px $app-color-green;
      }
    }
  }

  #app-projects-section {
    background-color: $app-color-black;
    padding-bottom: 50px;

    a {
      color: $app-color-white;
      text-decoration: none;
      font-weight: bold;
    }
    header {
      color: $app-color-white;
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  #app-a-profile-link {
    background-color: $app-color-green;
    color: $app-color-white;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 0 0 10px $app-color-black;
    font-weight: bold;
  }
  #app-a-profile-link:hover {
    box-shadow: 0 0 5px $app-color-white;
  }

  #app-contact-section {
    background-color: $app-color-purple;
    color: $app-color-white;
    text-shadow: 0px 5px 5px $app-color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    a {
      font-size: 4em;
      text-shadow: 2px 2px 2px black;
      i {
        color: $app-color-green;
        margin-left: 20px;
        margin-right: 10px;
      }
    }

    @keyframes contactLinkMovetoBottom {
      0% {
        top: 0px;
      }
      100% {
        top: -5px;
      }
    }
    a:hover {
      position: relative;
      @include app-anim-hover(contactLinkMovetoBottom, 100ms, linear);
    }
  }
  a:hover {
    text-shadow: 0 0 5px white;
  }
  .app-footer {
    background-color: $app-color-black;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
  }
}
