@import "./_common.scss";

.app-projects-list {
  max-width: 70%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 1fr));
  grid-template-rows: 1fr 1fr;
  .app-div-project-tile {
    background-color: $app-color-purple;
    margin: 30px;
    border: 10px solid $app-color-purple;
    box-shadow: 0px 0px 20px $app-color-green;
    border-radius: 10px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    p {
      background-color: $app-color-purple;
      color: $app-color-white;
      font-size: 1.1em;
      padding: 10px;
      width: inherit;
      margin: 0;
    }

    .project-item {
      text-decoration: none;
      .title {
        font-style: italic;
        font-weight: bold;
      }
      .description {
        height: 150px;
        font-size: 1em;
        color: $app-color-white;
        background-color: $app-color-purple;
        text-align: justify;
      }
    }

    project-item:visited {
      text-decoration: none;
    }

    .title:hover::before {
      content: "";
      @include app-anim-hover(projectLinkHoverBefore, 300ms, ease);
    }

    .title:hover::after {
      content: "";
      @include app-anim-hover(projectLinkHoverAfter, 300ms, ease);
    }
  }

  @media (max-width: 1200px) {
    .app-projects-list {
      grid-template-columns: repeat(2, minmax(60px, 1fr));
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 800px) {
    .app-projects-list {
      grid-template-columns: minmax(60px, 1fr);
      grid-template-rows: repeat(6, fr);
    }
  }
}
